@charset "UTF-8";

/*
 * support.css
 *
 */

.title_middle{
	padding: 2px 0 8px 20px;
	font-size: 133%!important;
	line-height: 130%;
	background-image: url("/public/img/title_middle.gif");
	background-repeat: no-repeat;
	background-position: 0% bottom;
}

/* support
---------------------------------------------------------- */

/*テーブルの設定*/
#support-table table {
border-collapse: collapse;
border-spacing: 2px;
width: 100%;
margin-top: 10px;
border-top: 1px solid #cccccc;
min-height: 3em;
line-height: 2em;
}

#support-table table th {
text-align: left;
width: 32%;
padding: 15px 17px;
border-bottom: 1px solid #cccccc;
line-height: 1.8em;
background-color: #f1f1f1;
}

#support-table table td {
padding: 15px 15px 15px 25px;
border-bottom: 1px solid #cccccc;
line-height: 1.8em;
background-color: #f8f8f8;
border-left: 1px solid #cccccc;
}

#support-table caption {
text-align: right;
padding-bottom: 0.5em;
}

#support-table .w95 {
width: 95px!important;
}

#support-table table input {
margin-right: 0.3em;
padding-top: 0.3em;
padding-bottom: 0.3em;
}

/* 20151204  start */
#support-table textarea {
width:90%;
}
#support-table input[type="radio"], #support-table input[type="checkbox"],
#support-table select{
position:relative;
top:2px;
}
#support-table .inqForm_title{
font-size:130%;
font-weight:bold;
margin:20px 0 5px 0;
padding-bottom:5px;
border-bottom:3px solid #294b92;
}
#support-table input[type="text"] {
width:80%;
}
#support-table th.donyu_jokyo {
width:115px!important;
}
#support-table th.yotei, #support-table th.riyoukeitai {
width:105px!important;
}
#support-table .mustImg {
position:relative;
top:2px;
}
#support-table .support_msg {
	font-size:130%;
	font-weight:bold;
}
#support-table .support_errormsg {
	color:#CC0000;
	font-size:130%;
	font-weight:bold;
}
#support-table .error {
	background: #FFE4E4;
}

#support-table .hdecategCode {
list-style: none;
display: list-item;
}

/* 20151204  end */



.notice {
color: #0a2986;
text-align: center;
}

.notice br {
display: none;
}

.btn input[type="submit"], .btn .btn_top {
font-family: "Font Awesome 5 Free";
font-weight: 900;
background-color: #007aff;
color: #FFFFFF;
padding: 1em;
border-radius: 2px;
margin-right: 1em;
}

.btn input[type="reset"], .btn .btn_back {
padding: 1em 0em!important;
background-image: none!important;
color: #007aff!important;
background-color: transparent!important;
margin-left: 1em;
}

.btn input:hover[type="submit"], .btn .btn_top:hover {
background-color: #092886;
}

.btn input:hover[type="reset"], .btn .btn_back:hover {
text-decoration: underline!important;
}


#spiralBox {
padding: 2em;
border: 4px solid #f1f1f1;
}

#spiralBox p {
width: 83%;
display: block;
float: left;
}

#spiralBox .labelImg {
width: 17%;
float: right;
}

#support .thankx {
text-align: center;
padding-top: 5em;
padding-bottom: 5em;
}

/* 20070418 一斉有給休暇用 */
#oshiraseLink {
border:3px solid #CC0000;
padding:10px;
margin-bottom:10px;
}
.oshiraseMessage {
font-size:130%;color:#CC0000;
}

/******************************************/
@media screen and (max-width:767px) {

#support #categoryVisual {
background-image: none;
}

#support-table table th,
#support-table table td {
list-style: none;
display: list-item;
}

#support-table table th {
border-left: none;
border-right: none;
border-bottom: 1px none #cccccc;
border-top: none;
width: 100%;
}

#support-table table td {
border-left: none;
border-right: none;
border-bottom: 1px solid #cccccc;
border-top: none;
width: 100%;
min-height: 5em;
line-height: 1.8em;
}

#support-table .w95 {
width: 80px;
}

.btn input[type="submit"] {
display: block;
margin-left: auto;
margin-right: auto;
margin-bottom: 0.5em;
}

.notice br {
display: block;
}

#spiralBox {
padding: 0.9em;
}

#spiralBox p {
width: 70%;
font-size: 12px;
}

#spiralBox .labelImg {
width: 27%;
}

/* 20151204  start */
#support-table label.checkbox, #support-table label.radio {
list-style: none;
display: list-item;
}
#support-table th.donyu_jokyo {
width:100%!important;
}
#support-table th.yotei, #support-table th.riyoukeitai {
width:100%!important;
}
#support-table .flowImg{
width: 100%;
}
} /* @media screen and (max-width:767px) */
