@charset "UTF-8";

/*
 * toppage.css
 *
 */
 
#mainimg {
position: relative;
}

.mainimg01,
.mainimg02,
.mainimg03,
.mainimg04,
.mainimg05,
.mainimg06,
.mainimg07{
height: 450px;
background-position: center center;
background-size: cover;
background-repeat: no-repeat;
margin-left: auto;
margin-right: auto;
width: 1280px;
}

.bx-wrapper {
position: relative;
*zoom: 1;
text-align: center;
margin-bottom: 200px;/*ADD 201608*/
background-color: #D0D1D3;
top: 160px;/*ADD 201608*/
}

#product .bx-wrapper{/*ADD 201608*/
margin-bottom: 40px;
top: 0px;
}


#mainimg img {
max-width: 100%;
display: block;
margin-bottom: 0px;
min-height: 100%;
}

.bx-wrapper li:hover{
	opacity: 0.8;
}

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
position: absolute;
width: 100%;
}

.bx-wrapper .bx-loading {
min-height: 50px;
background: url(/public/img/bx_loader.gif) center center no-repeat #fff;
height: 100%;
width: 100%;
position: absolute;
top: 0;
left: 0;
z-index: 2000;
}

.bx-wrapper .bx-controls-direction{
width: 1280px;
position: absolute;
top: 0px;
left: 0px;
right: 0px;
margin-left: auto;
margin-right: auto;
z-index: 100; /*ADD 201608*/
}

.bx-wrapper .bx-pager {
text-align: center;
font-weight: bold;
font-family: Arial;
color: #fff;
padding-top: 20px;
background-color: #f1f1f1;
height: 50px;
}

.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
display: inline-block;
*zoom: 1;
*display: inline;
}

.bx-wrapper .bx-pager.bx-default-pager a {
background-color: #999999;
text-indent: -9999px;
display: block;
width: 10px;
height: 10px;
margin: 0px 5px 0;
outline: 0;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
border-radius: 0px;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
background: #007aff;
}

.bx-wrapper .bx-prev,
.bx-wrapper .bx-next {
background-image: url(/public/img/bx_controls.png);
opacity: 0.8;
}

.bx-wrapper .bx-prev {
left: 10px;
background-position: -0px center;
}

.bx-wrapper .bx-next {
right: 10px;
background-position: -40px center;
}

.bx-wrapper .bx-prev:hover,
.bx-wrapper .bx-next:hover {
opacity: 0.5;
}

.bx-wrapper .bx-controls-direction a {
position: absolute;
top: 0px;
outline: 0;
width: 60px;
height: 450px;
text-indent: -9999px;
z-index: 999;
background-repeat: no-repeat;
}

.bx-wrapper .bx-controls-direction a.disabled {
display: none;
}



#product .bx-wrapper { /* 20151204 */
background-color: transparent;
}

section.top-info{ /* 20160418 */
padding-top:1.4em;
padding-bottom:1em;
}







/* contents
---------------------------------------------------------- */
section.contents {
top: 0px !important;
padding-bottom: 0px !important;
}

.topics {
margin-left: auto;
margin-right: auto;
display: table;
}

li.topics-item {
width: 220px;
margin-right: 18px;
float: left;
display: block;
margin-bottom: 30px;
background-color: #FFFFFF;
}

li.topics-item:last-child {
margin-right: 0px;
}

li.topics-item img {
margin-bottom: 10px;
width: 100%;
}

li.topics-item .icn {
margin-left: 10px;
float: left;
}

li.topics-item a {
color: #000000;
display: block;
height: 100%;
}

li.topics-item a:hover{
background-color: #F2F8FC;
color: #2EC5DF !important;
text-decoration: underline;
}

li.topics-item a.twoLinksHref {/*20150819*/
height: auto;
}


li.topics-item .topics-date {
font-size: 12px;
float: none;
/* padding-left: 35px; 20160620 */
/* 20160620 */
float: right;
margin-right: 7px;
}

li.topics-item .topics-txt {
float: none;
padding: 10px 23px 10px 10px;
position: relative;
width: 100%;
top: 12%;
display: block;
vertical-align: middle;
clear: left;
}
/* 20151119 */
li.topics-item .line5 {
top : 2%!important;
}
li.topics-item .line4 {
top : 5%!important;
}
li.topics-item .line3 {
top : 9%!important;
}
li.topics-item a.topics-txt {
height: 5em;
position: relative;
padding-right: 10px;
}

li.twoLinks .topics-txt {/*20150819*/
top: 2%;
}

.topics li:last-child .topics-item {
margin-right: 0px;
}

li.topics-item .line {
border-bottom: 1px solid #f1f1f1;
}

li.topics-item .line:last-child {
border-bottom-style: none;
}

/* event */
.event {
	margin-right: -15px;
}

.event li {
background-color: #f8f8f8;
vertical-align: top;
margin-right: 15px;
height: 144px; /* 20160301 146px */
float: left;
position: relative;
margin-bottom: 10px;
display: table;
font-size: 12px;
}

.event li a{
height: 144px; /* 20160301 146px */
display: block;
width: 480px;
	}

.event li img {
width: 232px; /* 20160223 230px;*/
float: left;
margin-right: 15px;
height: auto;
border:1px solid #f4f4f4;/* 20160222 #f8f8f8*/
}

.event li .icn {
margin: 10px 20px 0px 10px;
float: right;
position: absolute;
top: 12px;
right: 0px;
}

.event li .event-date {
font-size: 12px;
display: table-cell;
text-align: center;
line-height: 1.1;
top: 14px;
left: 245px;
vertical-align: middle;
height: 67px;
}

.event li .event-item-text{
vertical-align: middle;
padding-right: 20px;
display: block;
margin-top: -5px;
padding-left: 245px;
}

.event a {
color: #000000;
}

/* -------------------------------------------------------------------------*/
@media screen and (max-width:1280px) {
.mainimg01,
.mainimg02,
.mainimg03,
.mainimg04,
.mainimg05,
.mainimg06,
.mainimg07{
width: 100%;
background-size: cover;
}

.bx-wrapper .bx-controls-direction{
width: 100%;
left: 10px;
right: 10px;
 z-index: 100; /*ADD201608*/
}

}/* @media screen and (max-width:1280px) */

/* -------------------------------------------------------------------------*/
@media screen and (max-width:767px) {
	/**
.mainimg01 {
background-image: url(../../img/index/sp_mainimg_yume.jpg);
}*/
/* 2018.07.31 Del
.mainimg02 {
background-image: url(../../img/index/sp_mainimg_ks_201806.jpg);
}*/
/**
.mainimg03 {
background-image: url(../../img/index/sp_mainimg_mirai02.jpg);
}

.mainimg04 {
 background-image: url(../../img/index/sp_mainimg_mirai03.jpg);
}

.mainimg05 {
  background-image: url(../../img/index/sp_mainimg_mirai04.jpg);
}

.mainimg06 {
  background-image: url(../../img/index/sp_mainimg_mirai05.jpg);
}

.mainimg07 {
background-image: url(../../img/index/sp_mainimg_mirai06.jpg);
}*/

.bx-wrapper {/*ADD 201608*/
top: 0;/* 20180511 50px */
margin-bottom: 100px;
}
.bx-wrapper .bx-pager {
padding-top: 17px;
height: 55px;
}

.bx-wrapper .bx-pager.bx-default-pager a {
width: 15px; /* 20160707 12px */
height: 15px; /* 20160707 12px */
margin: 0px 10px 0;
outline: 0;
}

.mainimg01,
.mainimg02,
.mainimg03,
.mainimg04,
.mainimg05,
.mainimg06,
.mainimg07{
height: 215px;
width: 100%;
background-size: cover;
}

.bx-controls-direction {
display: none;
}

section.section,
h1.section,
#breadcrumb .section{/*ADD 201608*/
width: 95%;
}

#top .box_columnLinks.col4 {
padding-top: 20px;
}

#top .box_columnLinks.col4 .col {
margin: 0px 1% 10px;
width: 47%;
float: left;
}

#top .box_columnLinks.col4 img {
border-radius: 10px;
}

.topics {
margin-left: auto;
margin-right: auto;
width: 95%; /* 201608*/
display: block;
}

li.topics-item {
width: 49%;
margin-right: 0px;
margin-left: 0px;
margin-bottom: 10px;
}

.topics li:nth-child(even) {
float: right;
}

li.topics-item .topics-date {
/* margin-top: 3px; 20160620 */
position: relative;
float: right;
margin-right: 7px;
}

.event {
margin-left: 5px;
margin-right: 5px;
}

.event li a{
width: 100%;
/* height: auto; */ /* 20150827 */
}

.event li {
width: 100%;
/* padding-bottom: 10px; */ /* 20150827 */
}

.event li:nth-child(odd) {
float: none;
}

.event li:nth-child(even) {
float: none;
}

.event li img {
width: 100px;
top: auto;
}

.event li .icn {
margin-right: 20px;
}

.event li .event-date {
left: 110px;
}

.event li .event-item-text {
padding-right: 26px;
padding-left: 10px; /* 20160404 116px */
height: auto;
margin-top:10px; /* 20160404 */
}

#top .ttl-List-text {
display: block;
margin-left: 0em;
float: none;
padding-left: 2px;
}

#top .ttl-List li .icn {
margin-left: 0em;
margin-top: 0em;
position: relative;
left: 2px;
}

#top .ttl-List-date {
display: block;
float: left;
width: auto;
position: absolute;
left: 10em;/* 20160707 98px; */
top: 13px;
}

section.top-info{ /* 20160418 */
padding-top: 0; /* 20160620 1.2em */
width: 95%;/* ADD 201608 */
}

#header.smaller {/* ADD 201608 */
-webkit-box-shadow: 0px 0px 25px -12px;
box-shadow: 0px 0px 25px -12px;
}

} /* @media screen and (max-width:767px) */

/* -------------------------------------------------------------------------*/
@media screen and (max-width:640px) {

.ttl-List li .icn,
.ttl-List li .icn1{
display: block;
}

} /* @media screen and (max-width:640px) */

/* -------------------------------------------------------------------------*/
@media screen and (max-width:380px) {
.topics { /* 20160707 */
	width: 95%!important;
}

li.topics-item { /* 20160707 */
	width: 100%!important;
	margin-right:auto!important;
	margin-left:auto!important;
	float:left!important;
}

#product .bx-wrapper .bx-controls { /* 20160707 */
	display:none;
}

} /* @media screen and (max-width:380px) */

/* -------------------------------------------------------------------------*/
@media screen and (max-width:320px) {
/* 20160620 */
/* .topics-item .icn { 20160707
width:6em;
} */
ul.linkList.vertical li a{ /* 20160707 */
padding-left:0.4em!important;
}
.event li img { /* 20160707 */
margin-right:10px;
}
.event li .icn { /* 20160707 */
margin-right:10px;
}
} /* @media screen and (max-width:320px) */







/*
 * _top_btn.css.css
 *
 */
/* mainimg07 */
#mainimg.mainimg07 a.linkbtn,
#mainimg.mainimg07 a.linkbtn span{
background-color: #ea4df0; /* be2edd 60a917 0BC003 */
}
#mainimg.mainimg07 a.linkbtn {
width: 440px;
bottom: 65px;
}
#mainimg.mainimg07 a.linkbtn span{
width: 436px;
height: 73px;
}
#mainimg.mainimg07 a.linkbtn span:after {
content: "Go";
}
#mainimg.mainimg07 a.linkbtn span div{
padding: 13px 20px;
}
/* mainimg06 */
#mainimg.mainimg06 a.linkbtn,
#mainimg.mainimg06 a.linkbtn span{
background-color: #fb9118; /* FB8600 */
}
#mainimg.mainimg06 a.linkbtn {
width: 510px;
bottom: 65px; /* 110 */
}
#mainimg.mainimg06 a.linkbtn span{
width: 506px;
height: 73px;
}
#mainimg.mainimg06 a.linkbtn span:after {
content: "Go";
white-space: pre;
}
#mainimg.mainimg06 a.linkbtn span div{
padding: 13px 20px;
}

/* keyframes */
@keyframes arrowAnim {
	0% {
	right: 1.5%
	}
	50% {
	right: 4%
	}
	100% {
	right: 1.5%
	}
}
@keyframes shiny {
	0% {
	left: -30%;
	}
	20% {
	left: 120%;
	}
	100% {
	left: 120%;
	}
}

/* top_btn common */
.linkbtn_block{
width: 980px;
margin-left: auto;
margin-right: auto;
position: relative;
}
#mainimg a.linkbtn .arrow {
width: 13px;
height: 14px;
position: absolute;
display: block;
top: 28px;
animation-name: arrowAnim;
animation-duration: 1.1s;
animation-iteration-count: infinite;
animation-direction: reverse;
animation-timing-function: ease-out;
min-width: 13px;
min-height: 14px;
right: 10px;
}
#mainimg a.linkbtn {
font-size: 18px;
color: #FFFFFF;
text-align: left;
line-height: 1.4;
box-sizing: border-box;
overflow: hidden;
display: block;
box-shadow: 0px 1px 2px 0 rgba(0,0,0,0.40);
border: none;
padding: 2px;
position: absolute;
overflow: hidden;
transition: all .35s ease-in-out .35s;
}
#mainimg a.linkbtn:hover {
background-color: #008A00; /* 1D2088 */
text-decoration: none !important;
}
#mainimg a.linkbtn span {
display: block;
z-index: 100;
position: relative;
transition: all .35s ease-in-out .35s;
box-sizing: border-box;
}
#mainimg a.linkbtn:hover span {
background-color: #008A00; /* 1D2088 */
color: #fff;
transition: all .35s ease-in-out .35s;
}
#mainimg a.linkbtn:active,#mainimg a.linkbtn:hover {
color: #fff!important;
}

#mainimg a.linkbtn:after {
bottom: -100%;
right: -100%;
content: "";
width: 100%;
height: 100%;
position: absolute;
background-color: #008A00; /* 1D2088 */
transition: all .35s ease-in-out .5s;
}
#mainimg a.linkbtn:hover:after {
right: 0;
bottom: 0;
transition: all ease-in-out .35s;
}
#mainimg a.linkbtn:before {
top: -100%;
left: -100%;
content: "";
width: 100%;
height: 100%;
position: absolute;
background-color: #008A00; /* 1D2088 */
transition: all .35s ease-in-out .5s;
}
#mainimg.mainimg07 a.linkbtn:hover, #mainimg.mainimg07 a.linkbtn:hover span, #mainimg.mainimg07 a.linkbtn:after, #mainimg.mainimg07 a.linkbtn:before {
background-color: #7c03b7; /* 6D214F 005c03 007501 */
}
#mainimg.mainimg06 a.linkbtn:hover, #mainimg.mainimg06 a.linkbtn:hover span, #mainimg.mainimg06 a.linkbtn:after, #mainimg.mainimg06 a.linkbtn:before {
background-color: #e55403; /* fa5403 fa6800 */
}

#mainimg a.linkbtn:hover:before {
left: 0;
top: 0;
transition: all ease-in-out .35s;
}
#mainimg a.linkbtn span:before {
content: "";
display: block;
position: absolute;
left: -30%;
top: -50px;
width: 30px;
height: 200px;
transform: rotate(45deg);
background-color: rgba(255,255,255,0.5);
animation-name: shiny;
animation-duration: 4s;
animation-iteration-count: infinite;
animation-direction: infinite;
animation-timing-function: ease-in-out;
}
#mainimg a.linkbtn span:after {
top: -100%;
left: 0;
width: 100%;
height: 100%;
position: absolute;
display: block;
transition: all .35s ease-in-out .2s;
box-sizing: border-box;
padding-top: 23px;
padding-left: 20px;
}
#mainimg.mainimg06 a.linkbtn span:after {
padding-top: 13px;
}

#mainimg a.linkbtn span:hover:after{
top: 0;
transition: all .35s ease-in-out .2s;
}
#mainimg a.linkbtn span div{
top: 0;
width: 100%;
height: 100%;
position: absolute;
display: block;
transition: all .35s ease-in-out .2s;
z-index: 200;
}
#mainimg a.linkbtn span:hover div{
top: 100%;
transition: all .35s ease-in-out .2s;
}



@media screen and (max-width:767px) {
	.linkbtn_block {
	width: 276px;
	}
	#mainimg a.linkbtn {
	width: 120px !important;
	bottom: 12px !important;
	height: 36px !important;
	border-radius: 2px;
	left: auto !important;
	}
	#mainimg a.linkbtn .arrow {
    width: 8px;
    height: 8px;
    min-height: 8px;
    min-width: 8px;
    top: 12px;
	}
	#mainimg a.linkbtn span {
	width: 99.5% !important;
	height: 32px !important;
	text-align: left;
	}
	#mainimg a.linkbtn span div{
	display: none;
	}
	#mainimg a.linkbtn span:after{
	top: 0 !important;
	padding: 9px 0 0 17px;
	font-size: 11px;
	font-weight: bold;
	}
/*
#mainimg.mainimg07 a.linkbtn span:after {
content: "漫画でよむ";
}
#mainimg.mainimg06 a.linkbtn span:after {
content: "漫画で読む";
white-space: pre;
}*/
#mainimg.mainimg06 a.linkbtn span:after {
padding-top: 9px;
}

}
